@media screen and (max-width: 1024px) {
  .player {
    align-items: center;
    gap: 1em;
  }

  .name {
    max-width: 40vw;
    margin-right: 10vw;
  }

  .control-bar {
    margin-left: 0;
    max-width: 70%;
  }

  .play-list {
    flex: inherit;
  }
}

@media screen and (max-width: 868px) {
  .about-me {
    align-self: inherit;
  }
  .time {
    font-size: 5em;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    padding: 5px;
  }

  .todo-options {
    right: 0 !important;
  }
  .todo-options::after {
    left: auto !important;
    right: 5px !important;
  }

  .player {
    position: relative;
  }

  .play-list {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .control-bar {
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }

  .sound-bar {
    padding: 20px 10px 0;
  }
  .todo-question {
    font-size: 2em;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 700px) {
  .player {
    justify-content: center;
    gap: 0;
  }
  .play-list {
    display: none;
  }
  .header {
    padding: 20px 10px 10px;
  }
  .settings-panel.show {
    width: 96vw !important;
  }
}

@media screen and (max-width: 560px) {
  .time {
    font-size: 4em;
  }
  .todo__list {
    font-size: 0.7em;
  }
  .greeting-container {
    font-size: 2.3em;
  }
  .player {
    width: 50%;
  }
  .sound-level {
    width: 50%;
  }
  .weather {
    width: 50%;
  }
  .progress-bar > span {
    display: none;
  }

  .quote-container {
    height: 100%;
    width: 100vw;
    font-size: 0.7em;
  }
  .mute-toggle {
    width: 2em;
    height: 2em;
  }
}

@media screen and (max-width: 380px) {
  .weather {
    font-size: 0.8em;
  }
  .greeting-container {
    font-size: 1.5em;
  }
}

@media screen and (max-height: 645px) {
  .main {
    font-size: 0.6em;
  }
  .content-item__wr > label {
    padding: 0.8em;
  }
  .content-item__wr {
    height: 90%;
  }
  .footer {
    padding: 0;
    height: auto;
    justify-content: flex-start;
  }
  .change-quote {
    margin-bottom: 1%;
    width: 1.3em;
    height: 1.3em;
    background-size: 1.3em;
  }
}
