.player {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  z-index: 1;
}

.control-bar {
  display: flex;
  margin-left: 20px;
  max-width: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  display: flex;
  justify-content: center;
}

.sound-bar {
  display: flex;
  padding: 20px 40px 0;
  align-items: center;
  justify-content: center;
}

.progress-seek {
  width: 90%;
}
.progress,
.sound-level {
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 0%,
    #c4c4c4 0%,
    #c4c4c4 100%
  );
  border: none;
  height: 8px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}

.sound-level {
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 50%,
    #c4c4c4 50%,
    #c4c4c4 100%
  );
}

.progress::-webkit-slider-thumb,
.sound-level::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #fff;
}

.player-time {
  margin: 0 10px;
}

.sound-level {
  width: calc(70% - 70px);
}

.mute-toggle {
  margin-right: 15px;
  width: 3em;
  height: 3em;
  background-image: url(../assets/svg/volume.svg);
  background-size: contain;
}

.play-list {
  flex: 0 0 100%;
}

.play-item {
  display: flex;
  align-items: center;
}

.play-item-button {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  z-index: 5;
}
